# UFO

#### UFORC (National UFO Reporting Center)  Data

In [17]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [20]:
r = requests.get('http://www.nuforc.org/webreports/ndxshape.html')

In [21]:
soup = BeautifulSoup(r.text, 'html.parser')

In [26]:
shape_urls_find = soup.find('tbody')
data = []
for row in shape_urls_find.findAll('tr'):
    cells = row.findAll('td')
    data.append(cells[0].find('a')['href'])

In [27]:

url = 'http://www.nuforc.org/webreports/'
'''
list_of_urls = []
for html in range(len(data)):
    m = requests.get(url+data[html])
    soup_url = BeautifulSoup(m.text, 'html.parser')
    find_urls = soup_url.find('tbody')
    for row in find_urls.findAll('tr'):
        cells = row.findAll('td')
        list_of_urls.append(cells[0].find('a')['href'])
'''

"\nlist_of_urls = []\nfor html in range(len(data)):\n    m = requests.get(url+data[html])\n    soup_url = BeautifulSoup(m.text, 'html.parser')\n    find_urls = soup_url.find('tbody')\n    for row in find_urls.findAll('tr'):\n        cells = row.findAll('td')\n        list_of_urls.append(cells[0].find('a')['href'])\n"

In [28]:
urls = pd.DataFrame({'url':list_of_urls})

NameError: name 'list_of_urls' is not defined

In [29]:
urls.to_json(path_or_buf='full_list_of_urls.json')

NameError: name 'urls' is not defined

In [ ]:
ufo_sightings = soup.find('tbody')

data = []
for row in ufo_sightings.findAll("tr"):
    cells = row.findAll("td")
    maybe_ufo = dict ( 
        date = cells[0].find('a').text, 
        City = cells[1].find('font').text,
        State = cells[2].find('font').text,
        Shape = cells[3].find('font').text,
        Duration = cells[4].find('font').text,
        Summary = cells[5].find('font').text,
        Posted = cells[6].find('font').text
    )
    data.append(maybe_ufo)

In [30]:
ufo_sightings = pd.DataFrame(data)

In [31]:
ufo_sightings

                      0
0             ndxs.html
1      ndxschanged.html
2     ndxsChanging.html
3      ndxsChevron.html
4        ndxsCigar.html
5       ndxsCircle.html
6         ndxsCone.html
7     ndxsCrescent.html
8        ndxsCross.html
9     ndxsCylinder.html
10       ndxsDelta.html
11     ndxsDiamond.html
12        ndxsDisk.html
13        ndxsDome.html
14         ndxsEgg.html
15    ndxsFireball.html
16       ndxsFlare.html
17       ndxsFlash.html
18   ndxsFormation.html
19     ndxsHexagon.html
20       ndxsLight.html
21       ndxsOther.html
22        ndxsOval.html
23     ndxspyramid.html
24   ndxsRectangle.html
25       ndxsRound.html
26      ndxsSphere.html
27    ndxsTeardrop.html
28    ndxsTriangle.html
29  ndxsTRIANGULAR.html
30     ndxsUnknown.html

In [32]:
ufo_sightings.columns

RangeIndex(start=0, stop=1, step=1)

In [34]:
ufo_sightings.to_json(path_or_buf='ufo_sightings_try.json')

In [ ]:
import json
    
url='http://www.nuforc.org/webreports/'
file='full_list_of_urls.json'

# import href list of each report
with open(file) as train_file:
    href_data = json.load(train_file)

In [270]:
''' 
return single report as dictionary
    Occurred
    Reported
    Posted
    Location
    Shape
    Duration
    > Summary
'''
def getSingleReport(ufo_sightings):
    dd = {}
    td_list=ufo_sightings.findAll("td")

    # first td
    row_=td_list[0].findAll(text=True)
    for item in row_:            
        splitvals = item.split(':', 1)
        if len(splitvals) == 2:
            dd[splitvals[0]]=splitvals[1]
    
    # second td      
    row_=str(td_list[1].findAll(text=True))
    dd["Summary"]=row_
    return dd

# return dataframe of dictionaries of reports
def build_report_dataframe():
    c=0
    df_reports_=pd.DataFrame()
    
    for sub_ref in href_data["url"]:
        # build url
        tmp_url = str(url+href_data["url"][str(sub_ref)])
        print(tmp_url)
        r = requests.get(tmp_url)
        soup = BeautifulSoup(r.text, 'html.parser')
        ufo_report = soup.find('tbody')
        dict_data_single_report=getSingleReport(ufo_report)
        df_reports_ = df_reports_.append(dict_data_single_report, ignore_index=True)
        
        c=c+1
        if c>10:
            break;
    return df_reports_
        

df_reports = build_report_dataframe()
df_reports
#yo=loopHrefs()
#type(yo)

#xx = pd.DataFrame(yo)

http://www.nuforc.org/webreports/143/S143627.html
http://www.nuforc.org/webreports/143/S143631.html
http://www.nuforc.org/webreports/143/S143630.html
http://www.nuforc.org/webreports/143/S143632.html
http://www.nuforc.org/webreports/143/S143634.html
http://www.nuforc.org/webreports/143/S143633.html
http://www.nuforc.org/webreports/143/S143635.html
http://www.nuforc.org/webreports/143/S143636.html
http://www.nuforc.org/webreports/143/S143565.html
http://www.nuforc.org/webreports/143/S143568.html
http://www.nuforc.org/webreports/143/S143567.html

,Duration,Location,Occurred,Posted,Reported,Shape,Summary
0,10 minutes,"Lutz, FL",10/30/2018 23:30,11/9/2018,10/30/2018 8:54:06 PM 20:54,,['Blinking white light that moved every few se...
1,,"Morrow, IN",10/28/2018 22:27 (Entered as : 10/28/18 22:27),11/9/2018,10/31/2018 6:12:49 AM 06:12,,['MADAR Node 127']
2,,"Indianapolis, IN",10/28/2018 16:38 (Entered as : 10/28/18 16:38),11/9/2018,10/31/2018 6:14:44 AM 06:14,,['MADAR Node 07']
3,,"Brook Park, OH",10/27/2018 14:54 (Entered as : 10/27/18 14:54),11/9/2018,10/31/2018 6:10:53 AM 06:10,,['MADAR Node 04']
4,,"Holden, IN",10/26/2018 22:37 (Entered as : 10/26/18 22:37),11/9/2018,10/31/2018 6:06:36 AM 06:06,,['MADAR Node 02']
5,,"Brook Park, OH",10/26/2018 13:03 (Entered as : 10/26/18 13:03),11/9/2018,10/31/2018 6:08:45 AM 06:08,,['MADAR Node 04']
6,,"Holden, MA",10/25/2018 14:29 (Entered as : 10/25/18 14:29),11/9/2018,10/31/2018 6:01:06 AM 06:01,,['MADAR Node 02']
7,,"Morrow, OH",10/23/2018 08:50 (Entered as : 10/23/18 08:50),11/9/2018,10/31/2018 5:58:29 AM 05:58,,['MADAR Node 107']
8,,"Indianapolis, IN",10/21/2018 08:16 (Entered as : 10/21/18 08:16),10/25/2018,10/24/2018 7:44:32 AM 07:44,,['MADAR Node 07']
9,,"Merrimack, NH",10/19/2018 21:33 (Entered as : 10/19/18 21:33),10/25/2018,10/24/2018 7:38:08 AM 07:38,,['MADAR Node 03']
10,,"New London, IA",10/19/2018 09:13 (Entered as : 10/19/18 09:13),10/25/2018,10/24/2018 7:40:17 AM 07:40,,['MADAR Node 99 test facility']